.cards-main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-header, .outro-header {
    font-size: 7rem;
    font-weight: 800;
    letter-spacing: -0.35rem;
    line-height: 1.1;
    font-family: "Aeonik";
}

.intro, .outro {
    position: relative;
    width: 100%;
    height: 100svh;
    background-color: #1a1a1a;
    color: oklch(87.9% 0.169 91.605);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 1000px) {
    .intro-header, .outro-header {
        font-size: 2rem;
        letter-spacing: 0;
    }
}