@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@font-face {
  font-family: 'Soehnse';        /* Custom name to use in CSS */
  src: url('/fonts/Soehne.woff2') format('woff2');
  font-weight: 400;             /* Regular weight */
  font-style: normal;
}
@font-face {
  font-family: 'Blanquotey';        /* Custom name to use in CSS */
  src: url('/fonts/Blanquotey.ttf') format('truetype');
  font-weight: 400;             /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "Schabo";
  src: url("/fonts/SCHABO-Condensed.woff") format("woff"),
}
@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Regular.woff2") format("woff2"),
}
@font-face {
  font-family: "Schabo";
  src: url("/fonts/SCHABO-Condensed.woff") format("woff"),
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-tan-headline: var(--font-tan-headline);
  --font-playfair: var(--font-playfair);
  --font-schabo: Schabo;
  --font-aeonik: Aeonik;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center;     /* vertically center */
  text-align: center;
}

section {
  overflow: hidden;
  /* width: 100%; */
  height: 100vh;
}

.line1-mask {
  /* overflow: visible !important; */
  background: rgba(255, 0, 0, 0.1)
}

.custom-mask {
  padding-bottom: 16px;
  overflow: clip; /* you control this fully */
}

.line-inner {
  display: inline-block;
}